.communication{
  .communicationTop{
    margin-bottom: 50px;
    .input{
      margin-bottom: 10px;
    }
  }
  .communicationContent{
    button{
      margin-bottom: 10px;
    }
  }
}
.inputWidth{
  width: 260px;
  margin-right: 50px;
  margin-bottom: 20px;
}
