.logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
  }
.icon{
  float: right;
  font-size: 30px;
  line-height: 64px;
  margin-right: 20px;
}
.user{
  float: right;
  margin-right: 20px;
  font-size: 18px;
}

